html {
  box-sizing: border-box;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.search > input {
  box-sizing: inherit;
  margin-top: 2%;
  outline: none;
  font-size: 12pt;
  padding: 14px;
  width: 35%;
  border: 1px solid lightgrey;
  border-radius: 5px;



}

.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;

}

.lightbox-image {
  transition: opacity 0.5s ease;
  transition: all .3s ease-in-out;
  margin: 3%;
  opacity: 1;
}

.lightbox-image:hover {
  transform: scale(1.1);
  opacity: 0.5;

}


.lb-caption2 {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* .lb-dataContainer {
  padding-top: 10px;
} */
