/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0 0;
}

/* =================================
  Base Layout Styles mobile first
==================================== */

/*General*/

/*Search*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.search > input {
  box-sizing: inherit;
  margin: 2%;
  outline: none;
  font-size: 8pt;
  padding: 10px;
  width: 35%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

/*Gallery*/

.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-image {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  opacity: 1;
  width: 45%;
  height: auto;
}

.thumbnails-image {
  width: 80%;
  height: 80%;
}

/*Lightbox*/

.lightboxOverlay {
  width: 100vw;
  height: 100vh;
}

.lb-outerContainer,
.lb-container,
.lb-image,
.lb-nav,
.lb-data,
.lightbox,
.lb-dataContainer {
  display: inline;
  width: 80%;
  margin: auto;
}




/* .lightbox .lb-image {
  max-width: 80%;
} */
/* =================================
  Media queries
==================================== */

/*General Tablets and landscape phones adjustments possible*/

/* Portrait and Landscape referenced from css-tricks.com */
/* @media only screen
  and (min-device-width: 420px)
  and (max-device-width: 767px) {


} */

/*General Tablets adjustments possible*/
/* Portrait and Landscape referenced from css-tricks.com */
/* @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {


} */

/*General Tablets adjustments possible*/
/* Portrait and Landscape referenced from css-tricks.com */
@media screen
  and (min-device-width: 1024px)
  and (max-device-width: 1900px) {

    .search > input {
      box-sizing: inherit;
      margin: 2%;
      outline: none;
      font-size: 12pt;
      padding: 10px;
      width: 35%;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }


    .gallery {
      margin-left: 2%;
      margin-right: 2%;

    }

    .lightbox-image {
      transition: opacity 0.5s ease;
      transition: all .3s ease-in-out;
      opacity: 1;
      width: 25%;
      margin-bottom: 0;
    }

    .lightbox-image:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }

    .lb-caption2 {
      font-size: 13px;
      font-weight: bold;
      line-height: 1em;
    }



  }
